--upgrade pip
annotated-types==0.5.0
lxml==4.8.0
openpyxl==3.0.9
pandas==1.4.1
pika==1.1.0
pydantic==2.0.3
pymongo==3.12.0
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
uvicorn==0.17.6
XlsxWriter==3.0.3
fastapi==0.100.0
uvicorn==0.17.6
pymongo[srv]
gunicorn==20.0.4